# 워크플로우의 이름 지정
name: INDIPAGE-Server CD

on:
  push:
    branches: [ develop, chore/#1 ] # main branch로 push 될 때 실행됩니다.

env:
  S3_BUCKET_NAME: {{secrets.BUCKET_NAME_FOR_DEPLOY}}

jobs:
  build:
    name: Code deployment

    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: application.properties 내용 변경
        run:
          echo "${{secrets.INDIPAGE_APPLICATION}}" >> ./application.yaml

          cat ./application.yaml
        shell: bash

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      # 디렉토리 생성
      - name: Make Directory
        run: mkdir -p deploy

      # Jar 파일 복사
      - name: Copy Jar
        run: cp ./build/libs/*.jar ./deploy

      # appspec.yml 파일 복사
      - name: Copy appspec.yml
        run: cp appspec.yml ./deploy

      # script files 복사
      - name: Copy script
        run: cp ./scripts/*.sh ./deploy

      - name: Make zip file
        run: zip -r ./sopt_server.zip ./deploy
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-northeast-2

      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./sopt_server.zip s3://$S3_BUCKET_NAME/

      # Deploy
      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
        run:
          aws deploy create-deployment
          --application-name sopt-server-codedeploy
          --deployment-group-name sopt-server-codedeploy-group
          --file-exists-behavior OVERWRITE
          --s3-location bucket=sopt32-seminar,bundleType=zip,key=sopt_server.zip
          --region ap-northeast-2